*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    background:white;

    color:#222;

    font-family:Georgia, serif;

}

.window{

    max-width:1400px;

    margin:0 auto;

    padding:60px;

}
